.container {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.blurred {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
}

/* animasyon kaldirilabilir */
.blurred::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: default;
	pointer-events: none;
	z-index: 10;
	animation: blur 10s normal forwards;
	-webkit-animation: blur 10s normal forwards;
}

@keyframes blur {
	from {
		backdrop-filter: blur(5px);
	}

	to {
		backdrop-filter: blur(0px);
	}
}

@-webkit-keyframes blur {
	from {
		-webkit-backdrop-filter: blur(5px);
	}

	to {
		-webkit-backdrop-filter: blur(0px);
	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10000;
	opacity: 0.5;
}
